/home/robinglory/Desktop/Thesis/STT/vosk-model-en-us-0.22-lgraph
/home/robinglory/Desktop/Thesis/STT/vosk-model-small-en-us-0.15
/home/robinglory/Desktop/Thesis/STT/1vosk-model-en-us-0.22-lgraph.zip
/home/robinglory/Desktop/Thesis/STT/vosk-model-en-us-0.22-lgraph.zip
/home/robinglory/Desktop/Thesis/STT/vosk-model-small-en-us-0.15.zip
